.gradientSection {
  @include gradient-background($plum, $sky);
  color: $gray-0;

  &-inner {
    max-width: 1136px;
    margin: auto;
    display: flex;

    & .content {
      display: flex;
      flex-wrap: wrap;

      @include phone() {
        padding: 0 2rem;
      }

      &-picWrap {
        width: 464px;
        flex-grow: 0;
        flex-shrink: 0;

        @include phone() {
          width: 100%;
        }

        & img {
          width: 368px;
          margin-top: -64px;
          margin-right: 112px;
          margin-bottom: 64px;
          @include shadow(#000000, 0.5, 150);

          @include phone() {
            width: 100%;
            margin-right: 0;
            margin-bottom: 32px;
          }
        }
      }
      &-content {
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem 0;

        @include phone() {
          padding-top: 0;
        }
      }
    }
  }
}

.blockquote {
  padding: 0 0 0 2rem;
  margin: 1rem 0 0 0;
  border-left: 2px solid $sky;

  & p {
    font-family: 'Montserrat', sans-serif;
    line-height: 162%;
    font-weight: 300;
    font-style: italic;
    font-size: 1.414rem;
    margin: 0;
  }
  & cite {

  }
}