.introSection {

  & .header {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-2;
    flex-direction: column;

    & .headerContent {
      margin-top: 5vh;
    }

    @include phone() {
      padding: 4rem 1rem 6rem;
      min-height: auto;
      text-align: center;

    }
  }
}

.logo {
  width: 50px;

  @include phone() {
    width: 35px;
  }
}