// COLORS

$gray-0:    #FFFFFF;
$gray-1:    #EBEBEB;
$gray-2:    #CFD0D1;
$gray-3:    #7E7F82;
$gray-4:    #444547;

$blue:      #2294CB;

$sm-width:  360px;
$md-width:  768px;
$lg-width:  1200px;
$xl-width:  1440px;
$hd-width:  1920px;

$font:      "Inter", sans-serif;