// COLORS

$gray-0: #FFFFFF;
$gray-1: #EFEFEF;
$gray-2: #444547;
$gray-3: #161616;

$sky: #35A2D7;
$darkSky: #0688c5;
$plum: #561037;

$sm-width:      360px;
$md-width:      768px;
$lg-width:      1200px;
$xl-width:      1440px;
$hd-width:      1920px;