.title {
  font-family: $font;
  font-size: 11.089rem;
  font-weight: bold;
  line-height: 0.8;
  margin: 0 0 3rem;

  @include phone() {
    font-size: 2.5rem;
  }
}

.heading-2 {
  font-family: $font;
  font-size: 2.618rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.sectionHeader {
  display: flex;
  color: $gray-3;
  align-items: center;
  font-family: $font;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;

  &::after {
    content: "";
    width: 4rem;
    border-bottom: 2px solid;
    display: inline-block;
    margin-left: 0.5rem;
  }
}

.heading-3 {
  font-family: $font;
  font-size: 1.618rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;
}