.header {
  position: relative;
  padding-top: 4rem;

  & .heading-2 {
    z-index: 1;
    position: relative;
  }
  & .logoMark {
    height: 10rem;
    position: absolute;
    right: 0;
  }
  & .signature {
    color: $gray-2;
    height: 10rem;
    margin-top: -1rem;
    z-index: 0;
    position: relative;
  }
}