.socialList {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;

  @include phone() {
    flex-direction: column;
    align-items: flex-start;
  }


  &-item {
    & > a {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}