html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 100%;
  background: #EBEBEB;
  color: #444547;
  line-height: 162%;
}

.main {
  max-width: 1136px;
  margin: auto;
  padding: 0 1rem;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 11.089rem;
  font-weight: bold;
  line-height: 0.8;
  margin: 0 0 3rem;
  position: relative;
  z-index: 10;
}
@media (max-width: 767px) {
  .title {
    font-size: 4rem;
    line-height: 0.9;
    margin-bottom: 1rem;
  }
}

.heading-2 {
  font-family: "Inter", sans-serif;
  font-size: 2.618rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
@media (max-width: 767px) {
  .heading-2 {
    font-size: 1.75rem;
  }
}

.sectionHeader {
  display: flex;
  color: #7E7F82;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}
.sectionHeader::after {
  content: "";
  width: 4rem;
  border-bottom: 2px solid;
  display: inline-block;
  margin-left: 0.5rem;
}

.heading-3 {
  font-family: "Inter", sans-serif;
  font-size: 1.618rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}
@media (max-width: 767px) {
  .heading-3 {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: #2294CB;
}

.header {
  position: relative;
  padding-top: 4rem;
}
.header .heading-2 {
  z-index: 1;
  position: relative;
}
.header .logoMark {
  height: 10rem;
  position: absolute;
  right: 0;
}
.header .signature {
  color: #CFD0D1;
  height: 10rem;
  margin-top: -1rem;
  z-index: 0;
  position: relative;
}
@media (max-width: 767px) {
  .header .signature {
    height: 6rem;
    margin-top: 0;
  }
}

.caseStudyBlock {
  margin-top: 2rem;
}

.caseStudies {
  list-style-type: none;
  margin: 1.5rem 0 2rem;
  padding: 0;
  display: flex;
  gap: 16px;
}
.caseStudies-item {
  width: 33.333%;
}
.caseStudies-item .img {
  background: #CFD0D1;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.caseStudies-item .imgWrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}
.caseStudies-item .detail {
  padding: 1rem 0;
}
.caseStudies-item .detail p {
  margin: 0;
  color: #444547;
}
.caseStudies-item:hover .detail .heading-3, .caseStudies-item:focus .detail .heading-3 {
  text-decoration: underline;
}

.resume {
  display: flex;
  gap: 16px;
  margin-top: 1.5rem;
}
@media (max-width: 767px) {
  .resume {
    flex-direction: column;
  }
}
.resume-2 {
  width: 66.66%;
}
@media (max-width: 767px) {
  .resume-2 {
    width: 100%;
  }
}
.resume-1 {
  width: 33.333%;
}
@media (max-width: 767px) {
  .resume-1 {
    width: 100%;
  }
}

/**
  <li key={education.data.year} className="educationList-item">
    <div className="year">{education.data.year}</div>
    <div className="detail">
      <span className="certification">{education.data.certification}</span>
      <span className="institution">{education.data.institution}</span>
    </div>
  </li>
 */
.educationList {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
}
.educationList-item {
  display: flex;
  margin-bottom: 1rem;
}
.educationList-item .year {
  font-family: "Inter", sans-serif;
  font-size: 1.618rem;
  font-weight: normal;
  line-height: 1;
  width: 4.5rem;
  color: #7E7F82;
}
@media (max-width: 767px) {
  .educationList-item .year {
    font-size: 1.25rem;
    width: 3.5rem;
  }
}
.educationList-item .detail .certification {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 1.618rem;
  font-weight: bold;
  line-height: 1;
}
@media (max-width: 767px) {
  .educationList-item .detail .certification {
    font-size: 1.25rem;
  }
}
.educationList-item .detail .institution {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #7E7F82;
}

.contact {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.skillsList {
  margin-top: 2rem;
  margin-bottom: 2rem;
  list-style-type: none;
  padding: 0;
}

.toolsList {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.toolsList-item {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toolsList svg {
  height: 100%;
}

.socialList {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}
@media (max-width: 767px) {
  .socialList {
    flex-direction: column;
    align-items: flex-start;
  }
}
.socialList-item > a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.caseStudyHeader {
  margin-top: 2rem;
}
.caseStudyHeader .hero {
  height: 60vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 4rem;
  margin-top: 1rem;
}
.caseStudyHeader .hero img {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.caseStudyHeader .hero .logo {
  padding: 0 0 3rem 3rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 10rem;
  height: 10rem;
  background: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caseStudyHeader .hero .logo svg {
  height: 10rem;
}
.caseStudyHeader .sectionHeader {
  margin-bottom: 1rem;
}
.caseStudyHeader .heading-2 {
  margin-bottom: 1rem;
}

.caseArticle {
  display: flex;
  gap: 16px;
}

.pullQuote {
  width: 40%;
  order: 2;
}
.pullQuote blockquote {
  font-size: 1.618rem;
  line-height: 1.3;
}

.articleBody {
  width: 60%;
  order: 1;
  padding-right: 5rem;
}

.galleryList {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 16px;
}
.galleryList-item {
  width: 33.333%;
  position: relative;
  overflow: hidden;
}
.galleryList-item a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.galleryList-item img {
  position: relative;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
