html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background: #EFEFEF;
  color: #444547;
  line-height: 162%;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.title {
  font-family: "Italiana", serif;
  font-size: 5.653rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}
@media (max-width: 767px) {
  .title {
    font-size: 2.5rem;
  }
}

.heading-1 {
  font-family: "Italiana", serif;
  font-size: 2.441rem;
  font-weight: normal;
  margin: 0;
}

.heading-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.953rem;
  line-height: 115%;
  margin: 0;
}

.heading-3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.414rem;
  margin: 0;
}
@media (max-width: 767px) {
  .heading-3 {
    font-size: 1rem;
  }
}

.heading-4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0688c5;
}

.pipedKeywords {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
  padding: 0;
  align-items: center;
}
@media (max-width: 767px) {
  .pipedKeywords {
    flex-direction: column;
    margin: 0;
  }
}
.pipedKeywords li {
  list-style-type: none;
  display: flex;
}
.pipedKeywords li::after {
  content: "|";
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.414rem;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .pipedKeywords li::after {
    display: none;
  }
}
.pipedKeywords li:last-child::after {
  content: "";
}

.gradientSection {
  background: #561037;
  background: linear-gradient(45deg, #561037 0%, #35A2D7 100%);
  color: #FFFFFF;
}
.gradientSection-inner {
  max-width: 1136px;
  margin: auto;
  display: flex;
}
.gradientSection-inner .content {
  display: flex;
}
@media (max-width: 767px) {
  .gradientSection-inner .content {
    padding: 0 2rem;
    flex-wrap: wrap;
  }
}
.gradientSection-inner .content-picWrap {
  width: 464px;
  flex-grow: 0;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .gradientSection-inner .content-picWrap {
    width: 100%;
  }
}
.gradientSection-inner .content-picWrap img {
  width: 368px;
  margin-top: -64px;
  margin-right: 112px;
  margin-bottom: 64px;
  box-shadow: 0 150px 150px -50px rgba(0, 0, 0, 0.5), 0 37.5px 75px rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .gradientSection-inner .content-picWrap img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
}
.gradientSection-inner .content-content {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}
@media (max-width: 767px) {
  .gradientSection-inner .content-content {
    padding-top: 0;
  }
}

.blockquote {
  padding: 0 0 0 2rem;
  margin: 1rem 0 0 0;
  border-left: 2px solid #35A2D7;
}
.blockquote p {
  font-family: "Montserrat", sans-serif;
  line-height: 162%;
  font-weight: 300;
  font-style: italic;
  font-size: 1.414rem;
  margin: 0;
}
.introSection .header {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444547;
  flex-direction: column;
}
.introSection .header .headerContent {
  margin-top: 5vh;
}
@media (max-width: 767px) {
  .introSection .header {
    padding: 4rem 1rem 6rem;
    min-height: auto;
    text-align: center;
  }
}

.logo {
  width: 50px;
}
@media (max-width: 767px) {
  .logo {
    width: 35px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-item {
  display: flex;
  height: 60vh;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .gallery-item {
    flex-direction: column;
    height: 30rem;
  }
}
.gallery-item-image {
  width: 50%;
  height: 100%;
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
@media (max-width: 767px) {
  .gallery-item-image {
    width: 100%;
  }
}
.gallery-item-image img {
  width: 55vw;
  position: absolute;
  bottom: 0;
  transition: transform 0.25s ease;
}
@media (max-width: 767px) {
  .gallery-item-image img {
    width: 100%;
  }
}
.gallery-item-image:hover img {
  transform: translateY(0) !important;
}
.gallery-item-content {
  width: 50%;
  margin-left: 50%;
  padding: 0 4rem;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .gallery-item-content {
    width: 100%;
    margin-left: 0;
    padding: 3rem 1rem;
    box-sizing: border-box;
  }
}
.gallery-item.mod-even .gallery-item-image {
  left: auto;
  right: 0;
  width: 50%;
}
@media (max-width: 767px) {
  .gallery-item.mod-even .gallery-item-image {
    width: 100%;
  }
}
.gallery-item.mod-even .gallery-item-image img {
  right: 0;
}
.gallery-item.mod-even .gallery-item-content {
  margin-left: 0;
}
.gallery-item:last-of-type {
  height: 80vh;
}
@media (max-width: 767px) {
  .gallery-item:last-of-type {
    height: 34rem;
  }
}
.gallery-item:last-of-type .gallery-item-image img {
  bottom: auto;
  top: 0;
}
@media (max-width: 767px) {
  .gallery-item:last-of-type .gallery-item-image img {
    bottom: 0;
    top: auto;
  }
}

.metaList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.metaList-item .tag {
  padding: 2px 10px;
  border-radius: 8px;
  background: #444547;
  color: #EFEFEF;
  font-weight: 400;
  font-size: 0.8rem;
}
@media (max-width: 767px) {
  .metaList-item .tag {
    font-size: 0.75rem;
    padding: 0 7px;
  }
}
.metaList-item + .metaList-item {
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .metaList-item + .metaList-item {
    margin-left: 10px;
  }
}

.footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footerInner {
  text-align: center;
}
.footerInner-content {
  margin-top: 5vh;
}

.socialList {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
  padding: 0;
}
.socialList-item + .socialList-item {
  margin-left: 1rem;
}
.socialList-item svg {
  width: 32px;
  height: 32px;
}

.copyright {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: #444547;
}
@media (max-width: 767px) {
  .copyright {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
  }
}

.caseStudyHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  position: relative;
}
.caseStudyHeader .logo {
  height: 4rem;
}
@media (max-width: 767px) {
  .caseStudyHeader .logo {
    height: 3rem;
  }
}
.caseStudyHeader-homeLink {
  position: absolute;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
}

.caseStudyIntro {
  flex-direction: column;
  max-width: 654px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (max-width: 767px) {
  .caseStudyIntro {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .caseStudyIntro .title {
    text-align: center;
  }
}
.caseStudyIntro-brief {
  margin-top: 4rem;
}

.article-content {
  max-width: 654px;
  margin: 4rem auto;
  font-size: 1rem;
}
@media (max-width: 767px) {
  .article-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.article-content .heading-3 {
  margin-top: 1rem;
}
.article-content div + .heading-1 {
  margin-top: 4rem;
}

.caseStudyKeyImage {
  margin: 15rem 0 0 0;
  width: 100%;
  height: 100px;
  position: relative;
}
.caseStudyKeyImage img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -17rem);
}

/*# sourceMappingURL=style.css.map */
